.landing {
    max-width: var(--max-width);
    margin: auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.landing .main {
    width: 600px;
}
.landing .main h1{
    font-size: 67px;
}
.landing .main p {
    margin: 10px 0;
}
.landing .main button {
    margin-top: 20px;
}
.landing .image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.landing .image img{
    width: 100%;
}
@media (max-width: 767px) {
    .landing .image {
        display: none;
    }
    .landing .main h1 {
        font-size: 55px;
    }
}